[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
	shallow = true
[submodule "components/painlessMesh/module"]
	path = components/painlessMesh/module
	url = https://gitlab.com/painlessMesh/painlessMesh.git
	shallow = true
[submodule "components/ArduinoJson"]
	path = components/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
	shallow = true
[submodule "components/TaskScheduler/module"]
	path = components/TaskScheduler/module
	url = https://github.com/arkhipenko/TaskScheduler.git
	shallow = true
[submodule "components/AsyncTCP/module"]
	path = components/AsyncTCP/module
	url = https://github.com/me-no-dev/AsyncTCP.git
